<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>
</head>
<body>
    <table>
        <thead>
            <form action="" method="POST" th:action="@{/changeNameLastName}" th:object="${dto}">

                <td><label>Insert new name (Optional)</label></td>
                <input type="text" th:field="*{name}" />
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</td>

                <td><label>Insert new last name (Optional)</label></td>
                <input type="text" th:field="*{lastName}"/>
                <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Error</td>

                <td><label>Insert your password</label></td>
                <input type="password" th:field="*{password}"/>
                <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Error</td>

                <button type="submit">Ok</button>
            </form>
        </thead>
    </table>

</body>
</html>